<!-- <section id="showcase">
    <div class="container">
        <img src="../../assets/images/International Club UWB.png" height="300vh">
        <h1 id="title">International Club</h1>
        <p id="caption">Provide Diverse Networking</p>
    </div>
</section>
    
<section id="mission-statement">
    <div class="container">
        <span><span class="bold-p"><b>Mission:</b></span> 
            Provide diverse Networking, Positive and Friendly Environment for your Connections.
        </span>
    </div>
</section> -->

<section id="main-about">
    <div class="container">
        <h1>About Us</h1>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col">
            <img class="head-pic" src="../../assets/images/raymond.jpg">
        </div>
        <div class="col info">
            <h1>Raymond Chai</h1>
            <h3>Founder</h3>
            <br>
            <h4>Fall 2016 - Fall 2017</h4>
            <h4>President</h4>
            <div id="logo">
                <!-- <img class="social-media" src="../../assets/images/facebook_logo.png"> -->
                <a href="https://www.linkedin.com/in/raychai/" target="_blank"><img class="social-media" src="../../assets/images/linkedin_logo.png"></a>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">    
        <div class="col">
            <img class="head-pic" src="../../assets/images/michael.jpg">
        </div>
        <div class="col info">
            <h1>Michael Chan</h1>
            <h3>Co-founder</h3>
            <br>
            <h4>Summer 2017 - Fall 2017</h4>
            <h4>Vice President</h4>
            <br>
            <h4>Fall 2016 - Spring 2017</h4>
            <h4>Marketing Director</h4>
            <div id="logo">
                <a href="https://www.youtube.com/channel/UC3xUk3pKOqrKkgkcn76oW7w?view_as=subscriber"><img class="social-media" src="../../assets/images/youtube_logo.png"></a>
                <a href="https://www.linkedin.com/in/michael-kwan-lap-c-700a2394/" target="_blank"><img class="social-media" src="../../assets/images/linkedin_logo.png"></a>
                <a href="https://www.instagram.com/michaelkwanlapchan/"><img class="social-media" src="../../assets/images/Instagram_logo.png"></a>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <img class="head-pic" src="../../assets/images/muhammad.jpg">
        </div>
        <div class="col info">
            <h1>Muhammad Ali</h1>
            <h3>Co-president</h3>
            <br>
            <h4>Winter 2017 - Present</h4>
            <h4>Co-President</h4>
            <br>
            <h4>Fall 2017 - Fall 2017</h4>
            <h4>Officer</h4>
            <div id="logo">
                <!-- <img class="social-media" src="../../assets/images/facebook_logo.png"> -->
                <a class="social-media" href="" target="_blank"><img class="social-media" src="../../assets/images/linkedin_logo.png"></a>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <img class="head-pic" src="../../assets/images/hebler.jpg">
        </div>
        <div class="col info">
            <h1>Hebler Saucedo</h1>
            <h3>Marketing</h3>
        </div>
    </div>
</div>
<br>
