<section id="showcase">
    <div class="container">
        <img src="../../assets/images/International Club UWB.png" height="300vh">
        <h1 id="title">International Club</h1>
        <p id="caption">Provide Diverse Networking</p>
    </div>
</section>

<section id="mission-statement">
    <div class="container">
        <span>
            <span class="bold-p"><b>Mission:</b></span> 
            Provide diverse Networking, Positive and Friendly Environment for your Connections.
        </span>
    </div>
</section>

<!-- <section class="main-menu-button">
    <div class="container">
        <button class="button_2"><a routerLink="/restaurants">I am Hungry</a></button>
    </div>
</section> -->

<section id="boxes">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="../../assets/images/International Club UWB.png" height="100vh">
                <h3>Mission</h3>
                <p>Provide Diverse Networking</p>
            </div>
            <div class="col">
                <img src="../../assets/images/restaurant.png" height="100vh">
                <h3>Restaurant</h3>
                <p>Discounts Across Town</p>
            </div>
            <div class="col">
                <img src="../../assets/images/support.png" height="100vh">
                <h3>Support</h3>
                <p>Student Support</p>
            </div>
        </div>
    </div>
</section>