<!-- <section id="showcase">
    <div class="container">
        <img src="../../assets/images/International Club UWB.png" height="300vh">
        <h1 id="title">International Club</h1>
        <p id="caption">Provide Diverse Networking</p>
    </div>
</section>
    
<section id="mission-statement">
    <div class="container">
        <span><span class="bold-p"><b>Mission:</b></span> 
            Provide diverse Networking, Positive and Friendly Environment for your Connections.
        </span>
    </div>
</section> -->
<section>
    <div class="container">
        <div class="page-title">
            <h1>Restaurants</h1>
        </div>
    </div>
</section>
<div class="container">
    <div class="row restaurant">
        <div class="col">
            <img class="restaurant-pic" src="../../assets/images/restaurant-logo/applebees.jpg">
        </div>
        <div class="col info">
            <h1>Applebee's</h1>
            <div class="location">
                <h3>Bothell, WA 
                    <a href="https://goo.gl/maps/mPoMymVdZYq"><button class="btn btn-lg btn-primary btn-restaurant">Directions</button></a>
                </h3>
            </div>
        </div>
    </div>
    <hr>
    <div class="row restaurant">
        <div class="col">
            <img class="restaurant-pic" src="../../assets/images/restaurant-logo/the-korean-house.jpg">
        </div>
        <div class="col info">
            <h1>The Korean House</h1>
            <div class="location">
                <h3>Bothell, WA 
                    <a href="https://goo.gl/maps/TWJrny2hByj"><button class="btn btn-lg btn-primary btn-restaurant">Directions</button></a>
                </h3>
            </div>
        </div>
    </div>
    <hr>
    <div class="row restaurant">
        <div class="col">
            <img class="restaurant-pic" src="../../assets/images/restaurant-logo/avovados mexican restaurant.jpg">
        </div>
        <div class="col info">
            <h1>Avovados Mexican Restaurant</h1>
            <div class="location">
                <h3>Everett, WA 
                    <a href="https://goo.gl/maps/SkvvEoWeYiP2"><button class="btn btn-lg btn-primary btn-restaurant">Directions</button></a>
                </h3>
            </div>
        </div>
    </div>
    <hr>
    <div class="row restaurant">
        <div class="col">
            <img class="restaurant-pic" src="../../assets/images/restaurant-logo/Tapioca_Express.png">
        </div>
        <div class="col info">
            <h1>Tapioca Express</h1>
            <div class="location">
                <h3>Redmond, WA 
                    <a href="https://goo.gl/maps/4kkCkRjzBbQ2"><button class="btn btn-lg btn-primary btn-restaurant">Directions</button></a>
                </h3>
            </div>
        </div>        
    </div>
    <hr>
    <div class="row restaurant">
        <div class="col">
            <img class="restaurant-pic" src="../../assets/images/restaurant-logo/Pho_Mignon.png">
        </div>
        <div class="col info">
            <h1>Pho Mignon</h1>
            <div class="location">
                <h3>Kirkland, WA 
                    <a href="https://goo.gl/maps/pw2wH5PqroT2"><button class="btn btn-lg btn-primary btn-restaurant">Directions</button></a>
                </h3>
            </div>
        </div>
    </div>
    <hr>
    <div class="row restaurant">
        <div class="col">
            <img class="restaurant-pic" src="../../assets/images/restaurant-logo/Shawarmaniac.png">
        </div>
        <div class="col info">
            <h1>Shawarmaniac</h1>
            <div class="location">
                <h3>Kirkland, WA 
                    <a href="https://goo.gl/maps/khrnK7uWg7R2"><button class="btn btn-lg btn-primary btn-restaurant">Directions</button></a>
                </h3>
            </div>
        </div>
    </div>
    <hr>
    <div class="row restaurant">
        <div class="col">
            <img class="restaurant-pic" src="../../assets/images/restaurant-logo/teriyaki_etc!.png">
        </div>
        <div class="col info">
            <h1>Teriyaki etc!</h1>
            <div class="location">
                <h3>Bothell, WA 
                    <a href="https://goo.gl/maps/436CGLMWr9B2"><button class="btn btn-lg btn-primary btn-restaurant">Directions</button></a>
                </h3>
            </div>
        </div>
    </div>
</div>
