@import "~bootstrap/dist/css/bootstrap.css";
$break-large: 1200px;

body {
	background-color: #f4f4f4;
}

nav a {
	color: white; 
	text-transform: uppercase;
	font-size: 2.25vh;
}

.nav-link:hover {
	color: #9b9b9b; 
}

.active {
	color: #b7a57a; 
}

nav {
	background-color: #4b2e83;
	border-bottom: rgb(145,123,76) 10px solid;
}

.custom-toggler.navbar-toggler {
	border-color: rgb(255,102,203);
  } 

#showcase {
	// min-height: 500px;
	background: url('./assets/images/background.png') no-repeat 0 -150px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-color:#ffffff;
	text-align: center;
	color: #ffffff;
	border-bottom: rgb(145,123,76) 10px solid;
}

#title {
	color: #444444;
	font-size: 10vh;
}

#caption {
	color: #444444;
	font-size: 3vh;
}

#mission-statement {
	padding: 0px;
	color: #ffffff;
	background: #4b2e83;
	text-align: center;
	padding-top: 3vh;
	padding-bottom: 3vh;
	font-size: 3vh;

	.bold-p {
		color: rgb(145,123,76);
		font-size: 3vh;
	}
}

#boxes {
	padding-top: 5vh;
	text-align: center;
}

.restaurant {
	margin-top: 5vh;
}

.info {
	text-align: right;
}

.head-pic {
	width: 50vh;
}

.social-media {
	width: 10vh;
}

hr {
	padding: 15px;
    background: #4b2e83;
    color: #ffffff;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.restaurant-pic {
	width: 25vh;
}

.btn-restaurant {
	background-color: rgb(145,123,76);
	border-color: rgb(145,123,76);
}

.btn-restaurant:hover {
	background-color: rgb(125,103,56);
	border-color: rgb(125,103,56);
}

my-footer {
	margin-top: 2vh;
}

footer{
	padding:20px;
	color: #000000;
	background-color: rgb(145,123,76);
	text-align: center;
	font-weight: bold;
}

footer img {
	width: 50vh;
}

.subscribe {
	text-align: center;
	padding: 2vh 0 2vh 0;
	margin: 0;
	background-color: #35424a;
	color: white;
}

.subscribe button {
	background-color: rgb(145,123,76);
	border-color: rgb(145,123,76);
}

.subscribe button:hover {
	background-color: rgb(125,103,56);
	border-color: rgb(125,103,56);
}